In [40]:
import pandas as pd
data = open('agr.csv','r')
#print(data)
p = pd.read_csv(data)
p.head()
#p['Name']

,Name,Year,Conflict Stock Displacement,Conflict New Displacements,Disaster New Displacements
0,Afghanistan,2008,NaN,NaN,3400.0
1,Afghanistan,2009,297000.0,NaN,28000.0
2,Afghanistan,2010,352000.0,102000.0,71000.0
3,Afghanistan,2011,450000.0,186000.0,3000.0
4,Afghanistan,2012,492000.0,100000.0,30000.0

In [41]:
p.Name=p.Name.fillna('Afghanistan')

In [42]:
n=p['Name']
l=[]
for name in n:
    l.append(name)
m=list(set(l))

In [43]:
from geopy.geocoders import Nominatim
lat=[]
lon=[]
for names in l:
    geolocator = Nominatim(user_agent="specify_your_app_name_here")
    location = geolocator.geocode(names,timeout=1000000)
    #print((location.latitude, location.longitude))
    lat.append(location.latitude)
    lon.append(location.longitude)

AttributeError: 'NoneType' object has no attribute 'latitude'

In [ ]:
# from geopy.exc import GeocoderTimedOut

# geolocator = Nominatim()
# try:
#     location = geolocator.geocode("Angullia",timeout=None)
#     print(location.latitude, location.longitude)
# except GeocoderTimedOut as e:
#     print("Error: geocode failed on input %s with message %s"%(my_address, e.message))

In [ ]:
p.append(lat,columns=['latitude'])
p.append(lon,columns=['longitude'])

In [44]:
len(lat)

285

In [33]:
m[9]

'Tonga'